$grid-unit: 20rem; // Base unit size for grid
$grid-gap: 2rem; // Gap between cards

.portfolio-card {
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  transition: box-shadow 0.3s ease;

  // Grid size variations
  &.grid-1x1 {
    width: $grid-unit;
    height: $grid-unit;
  }

  &.grid-1x2 {
    width: $grid-unit;
    height: calc(#{$grid-unit} * 2 + #{$grid-gap});
  }

  &.grid-2x1 {
    width: calc(#{$grid-unit} * 2 + #{$grid-gap});
    height: $grid-unit;
  }

  &.grid-2x2 {
    width: calc(#{$grid-unit} * 2 + #{$grid-gap});
    height: calc(#{$grid-unit} * 2 + #{$grid-gap});
  }

  // Responsive adjustments
  @media screen and (max-width: 1023px) {
    &.grid-2x1,
    &.grid-2x2 {
      width: calc(#{$grid-unit} * 1.5 + #{$grid-gap});
    }

    &.grid-1x2,
    &.grid-2x2 {
      height: calc(#{$grid-unit} * 1.5 + #{$grid-gap});
    }
  }

  @media screen and (max-width: 767px) {
    &.grid-1x1,
    &.grid-1x2,
    &.grid-2x1,
    &.grid-2x2 {
      width: 100%;
      height: $grid-unit;
    }
  }

  &:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  }
}