.footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(40rem, calc(100% - 20rem), 1600px);
  padding: 4rem 1.618034 * 2rem;
  background: white;
  z-index: 1;
  margin-top: 4rem;

  @media screen and (max-width: 1440px) {
    width: calc(100% - 16rem);
  }

  @media screen and (max-width: 1024px) {
    width: calc(100% - 2rem);
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    font-family: "national-park", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: -0.02em;

    @media screen and (max-width: 1024px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
    }
  }

  .footer-links {
    ul {
      position: relative;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: left;
      gap: 2rem;
      flex-wrap: wrap;

      li {
        a {
          color: #222222;
          text-decoration: none;
          font-size: 1rem;
          transition: opacity 0.2s ease;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
