.home{
    //background-color: blue;
    width: 100rem;
    height: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6; // Behind R3F canvas (z:1)
    pointer-events: auto; // Re-enable pointer events for island content
}

.home-content{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 20vh;
    background-color: red;
}