.home{
    background-color: blue;
    width: 100rem;
    height: 100rem;
    position: absolute;
    top: 0;
    left: 0;
}

.home-content{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 20vh;
}