
.section1-content{
    position: absolute;
    color: white;
    top: -20rem;
    left: 35rem;
    font-size: 3rem;
    //background-color: red;
    width: 50rem;
    height: 30rem;
    //background-color: blue;

    h2{
        margin: 0;
        padding: 0;
        line-height: 2;
        color: #222222;
        font-family: "national-park", "Helvetica Neue", Arial, sans-serif;
        font-size: 2rem;
        font-weight: 400;
    }
}

.word-carousel{
    position: absolute;
    top: 6rem;
    margin-top: 2rem;
    height: 6rem;
    width: 100%;
    overflow: hidden;
    font-family: "national-park", "Helvetica Neue", Arial, sans-serif;
    //background-color: red;
    font-weight: 500;
    font-size: 5rem;
    color: #222222;
}
