
.section1-content{
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    font-size: 3rem;
    //background-color: red;
    width: 50rem;
    height: 50rem;
    background-color: blue;
}