// Shared styles for Vase canvas (if needed)
.vase-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 6.75rem !important;
  object-fit: contain;
  margin: 0 auto;
  //background-color: blue;
}