.projects-page {
  min-height: 100vh;
  background: white;
  color: white;

  .projects-header {
    position: relative;
    width: 100%;
    height: 40vh;
    padding: 4rem 10rem 2rem 10rem;
    text-align: left;
    background: red;
    color: #222222;

    h1 {
      font-size: 3.5rem;
      margin: 0;
      font-family: "national-park", "Helvetica Neue", Arial, sans-serif;
      font-weight: 500;
      letter-spacing: -0.02em;
    }

    p {
      font-size: 1.5rem;
      margin: 1rem 0 0;
      opacity: 1;
      font-family: "national-park", "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
    }
  }

}
