$background: white;
$primary: #222222;
$border: #22222267;

.app {
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  min-height: 100vh;
  background: $background;
  color: $primary;
  overflow: hidden;
}

