.world-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.world-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
